.App {
  background-color: #191414;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: space-between;
  background-image: url(./vinyl-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100%;

}
.Title {
  color: #1DB954;
}
.Column {
  align-items: center;
  justify-content: center;
}
.Footer {
  font-size: .5em;
}